.windowBar {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  -webkit-app-region: drag;
  user-select: none;
  position: relative;
  z-index: 50;
}

.title {
  font-size: 13px;
  font-weight: 500;
  color: var(--text-secondary);
  opacity: 0.8;
}

/* Make sure we don't block interactions in the traffic light area unnecessarily outside of it */
.windowBar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
